<nav class="navbar fixed-top navbar-expand-xl navbar-light mb-0 shadow">
    <a class="navbar-brand py-0 text-light" href="{{ path("home") }}">Accueil
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
        aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                        <a class="dropdown-item" href="{{ path("search_struggle_page") }}">Voir la carte des luttes</a>
                        <a class="dropdown-item" href="">Créer un nouveau suivi</a>
                </li>
            </ul>
            {# <form action="{{ path("people") }}" method="get" class="form-inline mr-3 my-2 my-lg-0">
                <div class="position-relative">
                    <label for="search-person" class="sr-only col-form-label">Recherche d'une personne</label>
                    <input name="search-person" id="search-person" class="form-control mr-sm-2" type="text"
                        placeholder="Recherche personne" autocomplete="off" 
                        title="Recherche instantanée à partir des 3 premières lettres saisies">
                    <div id="results_search" class="w-100 list-group pr-sm-2 d-block fade-in"></div>
                </div>
                <button class="btn border-light my-2 my-sm-0" 
                    data-toggle="tooltip" data-placement="bottom" title="Rechercher" type="submit">
                    <span class="fas fa-search"><span class="sr-only">Rechercher</span></span>
                </button>
            </form> #}
            {# <div class="text-light text-right w-min-160">
                <a id="user-name" class="text-light font-weight-bold" href="{{ path('my_profile') }}" data-toggle="popover"
                    data-trigger="hover" data-placement="bottom" data-html="true"
                    title="{{ app.user.firstname }} {{ app.user.lastname }}" data-content="Dernière connexion : {{ app.user.lastLogin|date(" d/m/Y H:i") }}
                    <br/>Statut : {{ app.user.statusToString }}<br/>Services rattachés :<br/>- {{ app.session.get("userServices")|join("<br/>- ") }}">
                    <span class="fas fa-user mr-2"></span>{{ app.user.firstname }} {{ app.user.lastname|first }}.
                </a>
                <br/>
                <a class="text-light" href="{{ path("security_logout") }}">Se déconnecter</a>
                <p class="mb-0 text-light small" title="Après l'expiration de la session, vous serez automatiquement déconnecté." 
                    data-toggle="tooltip" data-placement="bottom">Session expire dans <span id="session-timer">...</span></p>
            </div> #}
        </div>
</nav>